@import "../../styles/main/mixins";

.postHeading {
  position: sticky;
  top: 0;
  left: 0;
  min-height: 30%;
  max-height: 100%;
  padding: 1rem 3vw;
  background: var(--colorBgDarkTransparent);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .25rem;
  backdrop-filter: blur(10px);
  transition: var(--transitionDefault);

  &.headerActive {
    top: var(--heightHeader);
  }

  & > * {
    text-align: center;
    text-transform: uppercase;
  }

  &__category {
    @include clearedLink(var(--fontSize2));

    color: var(--colorMain);
  }
}

.postBody {
  @include contentArea;

  padding-block: 2rem;

  & > *:not(img) {
    margin-block: 1em;
  }

  p:empty {
    padding-top: 1em;
  }

  *:not(h1, h2, h3, h4, h5, h6) {
    font-size: var(--fontSize3-4);
  }

  *:not(b) {
    font-weight: 300;
  }

  blockquote {
    position: relative;
    margin-inline: 0;
    padding-inline: 2em;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: .5rem;
      background: var(--colorBgAccentLight);
    }
  }

  b {
    color: var(--colorMain);
  }

  ul, ol {
    list-style: initial;
    margin-left: 2rem;
  }
}

.bottomBlock {
  width: 100%;
  background: var(--colorBgDark);
  padding-block: 2rem;

  &__content {
    @include contentArea;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    .content__inlineWrapper {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: space-between;

      .inlineWrapper__btns {
        display: flex;
        align-items: center;
        gap: .5rem;

        .btns__btn {
          @include btnMain;

          .btn__text {
            @media screen {

            }
          }
        }
      }
    }

    .content__postTags {
      display: flex;
      align-items: center;
      gap: .5rem;
      width: 100%;
      flex-wrap: wrap;


      .postTags__tag {
        @include clearedLink;

        &:hover,
        &:focus-within {
          color: var(--colorMain);
        }
      }
    }
  }
}