@import '../../mixins';

.window-with-header {
  &.active {
    .window-with-header__content {
      height: calc(100vh - var(--heightHeaderInitial));
    }
  }

  &__content {
    position: absolute;
    left: 0;
    top: 100%;
    overflow: hidden;
    height: 0;
    transition: var(--transitionDefault);
    width: 100%;

    .content__wrapper {
      display: flex;
      height: calc(100vh - var(--heightHeaderInitial));
      background: var(--colorBgDark);
      padding: min(2rem, 5vw);
      flex-direction: column;
      gap: 2rem;
      width: 100%;
      overflow-y: auto;
      transition: var(--transitionDefault);
    }
  }
}