.blockHeading {
  white-space: nowrap;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 100%;
  width: 100%;
  opacity: .15;
  padding-inline: .125em;
  font-size: var(--fontSizeBig);
  text-transform: uppercase;
  user-select: none;
  pointer-events: none;
  overflow: hidden;
}