@import "../../mixins";

.mini-profile {
  $windowWidth: 30rem;

  position: relative;

  &__guest,
  &__logged {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__btn {
    @include btnAccent;

    &.main {
      background: var(--colorMain);
    }
  }

  &__user {
    outline: none;
    border: none;
    color: var(--colorText);
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding-inline: .5rem;
    transition: var(--transitionDefault);
    cursor: pointer;


    &:hover,
    &:focus-within {
      background-color: var(--colorBgAccentLight);
    }

    .user__info {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .info__part {
        font-family: "Oswald", sans-serif;
        font-weight: normal;
      }

      .info__group {
        color: var(--colorMainLight);
      }
    }

    .user__picture {
      @include image(var(--colorBgAccent));

      width: 2.5rem;
    }

    .arrow-icon.active {
      rotate: 180deg;
    }
  }

  &__window {
    position: absolute;
    right: 0;
    top: 100%;
    width: 35rem;
    background: var(--colorBgAccent);
    border-radius: 0 0 var(--bdrsWindow) var(--bdrsWindow);

    .window__profile-bg {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 1rem;
      height: 5rem;
      padding: .75rem 1.5rem;
      z-index: 2;

      &::after {
        content: '';
        position: absolute;
        inset: 0;
        background: var(--colorWindowAreaBg);
        z-index: -1;
      }

      .profile-bg__user-picture {
        @include image(var(--colorMain));

        width: 4rem;
      }

      .profile-bg__user-bg {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
        left: 0;
        border: 2px solid var(--colorBgAccent);
        z-index: -1;
      }

      .profile-bg__roles {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: flex-end;
        gap: .5rem;
        flex-wrap: wrap;

        .roles__role {
          background: var(--colorMain);
          padding: .25rem 1rem;
          border-radius: var(--bdrsBtn);
          text-transform: uppercase;
        }
      }
    }

    .window__content  {
      display: flex;
      padding: .75rem 1.5rem;

      .content__user-info {
        flex: 0 0 70%;

        .user-info__part {

          mark {
            color: var(--colorMainLight);
            background-color: initial;
          }
        }
      }

      .content__links {
        $gap: .5rem;

        flex: 1 0 30%;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: $gap;

        .links__link {
          transition: var(--transitionDefault);
          border-radius: var(--bdrsBtn);

          &:hover,
          &:focus-within {
            background-color: var(--colorBgAccentLight);

            a {
              translate: -5%;
            }
          }

          &:not(:last-child) {
            @include separator($gap: $gap);
          }

          &.exit-link a {
            color: var(--colorAccentLight);
          }

          a {
            @include clearedLink;

            white-space: nowrap;
            text-transform: uppercase;
            text-align: right;
            display: flex;
            justify-content: flex-end;
            width: 100%;
            transition: var(--transitionDefault);
            cursor: pointer;
          }
        }
      }
    }
  }
}