@import '../../mixins';

.link-group {
  flex: 1 1 10rem;
  z-index: 1;

  &:target,
  &:focus-within,
  &:hover {
    .group__toggle {
      background: var(--colorAccent);
    }

    .group__links-window {
      display: flex;
    }
  }

  .group__links-window {
    position: absolute;
    display: none;
    width: 100%;
    height: min(37.5vw, 30rem);
    left: 0;
    bottom: 100%;
    background: var(--colorBg);
    z-index: 2;
    border-radius: var(--bdrsWindow) var(--bdrsWindow) 0 0;
    overflow: hidden;

    .links-window__links {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      flex: 0 0 60%;
      background: var(--colorBgAccent);
      padding: 1rem 2rem;

      .links__link {
        padding: .5rem;
        cursor: pointer;

        &:hover,
        &:focus-within {
          background: var(--colorBg);
          border-radius: var(--bdrsBtn);

          a {
            text-decoration: underline;
          }
        }

        &.active a {
          color: var(--colorMainLight);
        }

        a {
          @include clearedLink;
        }
      }
    }

    .links-window__link-info {
      flex: 1 1 40%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .link-info__name {
        color: var(--colorMainLight);
        text-align: center;
      }

      .link-info__description {
        text-align: justify;
        font-size: var(--fontSize3);
      }
    }
  }

  .group__toggle {
    @include clearedLink;
    @include btnMain($fontSize: var(--fontSize2));

    width: 100%;
    height: 100%;
    text-align: center;
  }
}