@import '../../mixins';

.main-nav {
  position: relative;
  background: var(--colorMain);

  &__link-groups {
    @include contentArea;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: stretch;
    height: 100%;
    position: relative;
  }
}