@import '../../mixins';

.student-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  &__category-links {
    display: none;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 1rem;

    &.active {
      display: flex;
    }

    .category-links__link {
      width: clamp(10rem, 15vw, 15rem);
      height: 20rem;
      background: var(--colorMain);
      position: relative;
      border-radius: var(--bdrsBtn);
      overflow: hidden;

      &:hover,
      &:focus-within {
        a::after {
          background: var(--colorGradientBgDark);
        }

        .link__main-content {
          opacity: 0;
        }

        .link__focused-content {
          opacity: 1;
        }
      }

      a {
        @include clearedLink;

        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        font-size: var(--fontSize0);
        z-index: 1;

        &::after {
          content: '';
          position: absolute;
          inset: 0;
          background: var(--colorGradientBg);
          z-index: -1;
          transition: var(--transitionDefault);
        }

        .link__bg-image {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          z-index: -1;
        }

        .link__main-content,
        .link__focused-content {
          position: absolute;
          top: 0;
          left: 0;
          inset: 0;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          gap: 2rem;
          transition: var(--transitionDefault);
        }

        .link__main-content {
          .main-content__name {

          }
        }

        .link__focused-content {
          opacity: 0;

          .focused-content__description {
            font-size: var(--fontSize3);
            text-align: center;
          }
        }
      }
    }
  }
}