@import "../../styles/main/mixins";

.profile {
  height: 100%;

  &__toggle {
    @include clearedLink;
    @include iconBtn;

    position: relative;
    height: 90%;
    display: flex;
    align-items: center;

    .toggle__userPicture {
      @include roundedImage(var(--colorBgDark));

      height: min(100%, 3.5rem);
      background-color: transparent;

      &::before {
        position: absolute !important;
        translate: -50% -50%;
        left: 50%;
        top: 50%;
        color: var(--colorMainLight);
        font-size: var(--fontSize2);
      }
    }
  }

  &__content {
    $userPictureSize: 20rem;
    $contentGridColumns: $userPictureSize 1fr;
    $contentGridLayout: "L R";

    z-index: 1;
    scrollbar-gutter: stable both-edges;

    .content__profileHeader {
      position: relative;
      height: 35vh;
      z-index: -1;
      display: flex;
      align-items: flex-end;

      .profileHeader__bgPicture {
        @include image;

        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        background: var(--colorGradientMain);

        &::before {
          content: '';
          position: absolute;
          inset: 0;
          background: var(--colorBgDarkTransparentLight);
          z-index: 0;
          user-select: none;
          pointer-events: none;
        }

        .bgPicture__content {
          justify-content: flex-start;
        }
      }

      .profileHeader__mainUserInfo {
        padding: 0 var(--paddingInlineMain);
        z-index: 2;
        min-height: 50%;
        width: 100%;
        background: var(--colorBgDarkTransparent);
        backdrop-filter: blur(10px);
        display: grid;
        grid-auto-columns: $contentGridColumns;
        grid-template-areas: $contentGridLayout;
        grid-auto-rows: auto;
        align-content: flex-end;
        pointer-events: none;

        .mainUserInfo__wrapper {
          grid-area: R;
          display: flex;
          flex-direction: column;
          gap: .25rem;
          padding: 2rem var(--paddingInlineMain);

          .wrapper__name,
          .wrapper__specialization,
          .wrapper__group {
            text-transform: uppercase;
          }

          .wrapper__specialization {
            color: var(--colorMain);
          }
        }
      }
    }

    .content__profileBody {
      padding-inline: var(--paddingInlineMain);
      display: grid;
      grid-auto-columns: $contentGridColumns;
      grid-template-areas: $contentGridLayout;
      grid-auto-rows: auto;
      z-index: 99;
      gap: var(--paddingInlineMain);

      .profileBody__leftSide {
        grid-area: L;
        translate: 0 calc(-1 * $userPictureSize * 3 / 4);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;

        .leftSide__userPicture {
          border-radius: 50%;
          aspect-ratio: 1;
          width: $userPictureSize;
          background: var(--colorGradientMain);

          .userPicture__content {
            border-radius: 50%;
          }

          .userPicture__image {
            border: 2px solid var(--colorBgDark);
            border-radius: 50%;
          }
        }

        .leftSide__userEmail {
          text-align: center;
        }

        .leftSide__btn {
          @include clearedLink;
          @include btnMain();
          width: 100%;

          &.btn_accent {
            @include btnAccent;
          }
        }
      }

      .profileBody__rightSide {
        grid-area: R;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .rightSide__content {
          .tab__panel {
            background: var(--colorBg);
            padding: 1rem var(--paddingInlineMain);
            display: flex;
            flex-direction: column;
            gap: .5rem;
            border-radius: var(--bdrsWindow);

            .panel__title {
              text-transform: uppercase;
              color: var(--colorMain);
            }

            .panel__text {
              font-size: var(--fontSize4);
            }
          }

          .tab_info {
            .panel__item {
              display: flex;
              gap: 1ch;
              font-weight: 300;

              .item__label {
                color: var(--colorMain);
                text-transform: uppercase;
                font-weight: bold;
              }
            }

            .panel__contactList {
              display: flex;
              flex-direction: column;
              gap: 1rem;

              .contactList__item {
                display: flex;
                align-items: center;
                gap: 1rem;

                .item__input {
                  @include input($background: var(--colorBgDark));

                  width: 100%;

                  &.input_title {
                    width: 50%;
                  }
                }

                .item__iconBtn {
                  --color: var(--colorAccent);

                  @include iconBtn($fontSize: var(--fontSize2));

                  width: 3rem;
                  overflow: hidden;
                  display: grid;
                  place-content: center;

                  &.iconBtn_accent {
                    --color: var(--colorMain);
                  }

                  &:hover,
                  &:focus-within {
                    color: var(--color);
                  }
                }
              }
            }
          }

          .tab_achievements {
            .panel__achievementList {
              position: relative;
              display: grid;
              grid-template-columns: repeat(auto-fit, minmax(30rem, min(50%, 40rem)));

              .achievementList__item {
                background: var(--colorBgDark);
                border-radius: var(--bdrsWindow);
                padding: 1rem;
                display: flex;
                align-items: center;
                gap: 1rem;
                height: 10rem;

                .item__leftSide {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  gap: 1rem;

                  .leftSide__icon {
                    position: relative;
                    background: var(--colorBg);
                    border-radius: 50%;
                    width: 6rem;
                    aspect-ratio: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .icon__icon {
                      @include svgColor(var(--colorMain));

                      width: 70%;
                      height: 70%;
                    }
                  }
                }

                .item__rightSide {
                  display: flex;
                  flex-direction: column;
                  gap: .5rem;

                  .rightSide__title {
                    text-transform: uppercase;
                    color: var(--colorMain);
                  }

                  .rightSide__description {
                    font-size: var(--fontSize4);
                  }
                }
              }
            }
          }

          .tab_group,
          .tab_teachers {
            .panel__userList {
              display: grid;
              grid-template-columns: repeat(auto-fit, minmax(30rem, 40rem));
              grid-template-rows: repeat(auto-fill, minmax(10rem, 1fr));

              .userList__item {
                display: flex;
                align-items: center;
                gap: 1rem;
                background: var(--colorBgDark);
                border-radius: var(--bdrsWindow);
                padding: 1rem;

                .item__leftSide {
                  @include clearedLink($fontSize: var(--fontSize4-5));

                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  gap: .5rem;
                  height: 100%;

                  .leftSide__userImg {
                    @include roundedImage($borderColor: var(--colorBg));

                    width: 6rem;
                    flex-shrink: 1;
                  }

                  .leftSide__roles {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex-shrink: 0;

                    .roles__item {
                      color: var(--colorMainLight);
                    }
                  }
                }

                .item__rightSide {
                  display: flex;
                  flex-direction: column;
                  gap: .5rem;

                  .rightSide__name {
                    @include clearedLink($fontSize: var(--fontSize2));

                    color: var(--colorMain);
                    font-weight: bold;
                  }
                }
              }
            }
          }

          .tab_settings {
            .panel__password {
              display: flex;
              gap: 1rem;

              .password__input {
                @include input($background: var(--colorBgDark));

                flex-grow: 1;
              }
            }

            .panel__contacts {
              display: flex;
              gap: 1rem;

              .contacts__input {
                @include input($background: var(--colorBgDark));

                flex-grow: 1;
              }
            }
          }
        }
      }
    }
  }
}