.blogPostCard {
  border-radius: var(--bdrsBtn);
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--colorBgTransparent);
    z-index: -1;
  }
}