.windowWithHeader {
  z-index: 20;

  &.active {
    z-index: 10;

    .windowWithHeader__content {
      height: calc(100vh - var(--heightHeader));
    }
  }

  &__content {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 100%;
    overflow: hidden;
    height: 0;
    transition: all var(--transitionDefault), width 0ms;
    width: 100vw;
    background: var(--colorBgDark);

    .content__wrapper {
      position: relative;
      display: flex;
      height: calc(100vh - var(--heightHeader));
      flex-direction: column;
      gap: 2rem;
      overflow: hidden auto;
      transition: var(--transitionDefault);
    }
  }
}