.block-heading {
  white-space: nowrap;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  opacity: .15;
  font-size: var(--fontSizeBig);
  text-transform: uppercase;
}