@import "../../mixins";

.slider-container {
  //--sliderHeight: clamp(15rem, 40vw, 38.55rem);

  position: relative;
  width: 100%;
  z-index: 1;
  min-height: 15rem;
  max-height: 40vw;
  height: 100vh;
  flex-grow: 1;
  //flex: 1 1 0;

  &.hide-elements {
    .slider-container__arrows,
    .slider__dots {
      display: none !important;
    }
  }

  &__arrows {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    pointer-events: none;

    .arrows__arrow {
      @include clearedBtn(var(--fontSize1));

      width: max(5%, 2.5rem);
      height: 100%;
      display: grid;
      place-content: center;
      background: var(--colorBg);
      opacity: .25;
      transition: var(--transitionDefault);
      pointer-events: all;

      &:hover,
      &:focus-within {
        filter: brightness(var(--brightnessDefault));
        opacity: .75;
      }
    }
  }

  &__control {
    $fontSize: var(--fontSize4);

    position: absolute;
    left: 50%;
    translate: -50%;
    top: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.active,
    &:focus-within {
      .control__menu {
        translate: 0 0;
      }
    }

    @mixin controlContainer {
      position: absolute;
      top: 0;
      background: var(--colorAccent);
      border-radius: 0 0 var(--bdrsBtnRounded) var(--bdrsBtnRounded);
      padding: .5em 2em;
    }

    .control__toggle {
      @include iconBtn($fontSize);
      @include controlContainer;
    }

    .control__menu {
      @include controlContainer;

      translate: 0 -100%;
      gap: .5rem;
      width: 14rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
      align-items: center;
      z-index: 2;
      transition: var(--transitionDefault);

      .menu__btn {
        @include iconBtn($fontSize);
        @include scaleOnFocus;

        background: none;
      }
    }
  }

  &__slider {
    position: absolute !important;
    width: 100%;
    height: 100%;

    .slick-list {
      height: 100%;
    }

    .slick-track {
      height: 100%;

      .slick-slide {
        position: relative;
        display: flex;

        & > div {
          width: 100%;
          height: 100%;

          & > * {
            position: relative;
            height: 100%;
            display: flex !important;
            justify-content: center;
          }
        }

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          background-color: var(--colorBgAccent);
          object-position: center;
        }
      }
    }

    .slider__dots {
      display: flex !important;
      align-items: center;
      gap: .5rem;
      position: absolute;
      bottom: .5rem;
      left: 50%;
      translate: -50%;
      z-index: 2;
      background: var(--colorBgTransparent);
      padding: .5rem 1.5rem;
      border-radius: var(--bdrsBtn);

      li {
        display: grid;
        place-content: center;

        &.slick-active button {
          background: var(--colorMain);
        }

        button {
          @include clearedBtn;

          background: var(--colorBgAccentLight);
          aspect-ratio: 1;
          width: .65rem;
          padding: 0;
          border-radius: 50%;
          color: transparent;
        }
      }
    }
  }
}