@import "../main/mixins";

.lightbox {
  $padding: 1rem;

  padding: $padding;
  overflow: hidden;

  &__control {
    position: fixed;
    top: 4rem;
    right: 1rem;
    //translate: -50%;
    z-index: var(--zIndexWindow);

    .control__btn {
      @include iconBtn(var(--fontSize2));

      background: var(--colorMain);
      border-radius: var(--bdrsBtn);
      padding: .5rem;
    }
  }

  &__image {
    rotate: calc(90deg * var(--rotateIndex, 0));
    max-width: 100%;
    max-height: 100%;
    object-position: center;
    object-fit: contain;
  }
}