@import "../main/mixins";

.news-container {
  position: relative;
  width: 100%;
  z-index: 1;

  &.active {
    .news-list__news:not(.active) .news__info {
      opacity: 0;
    }
  }

  &__news-list,
  &__news-list-duplicate {
    min-height: 45rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, 15rem);
    grid-auto-flow: dense;
  }

  &__news-list {
    position: absolute;
    inset: 0;
    z-index: 99;
    user-select: none;
    pointer-events: none;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background: var(--colorBgTransparent);
      z-index: -1;
    }

    * {
      user-select: none;
      pointer-events: none;
    }

    .news-list__news {
      transition: var(--transitionDefault);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      border: 1px solid var(--colorBgAccent);

      &.active {
        img {
          opacity: 1;
        }
      }

      .news__info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        padding: 1rem;
        z-index: 2;

        & > * {
          transition: var(--transitionDefault);
        }

        .info__heading {
          text-transform: uppercase;
        }

        .info__date {
          text-transform: uppercase;
          font-size: var(--fontSize4);
        }
      }

      img {
        @include image;

        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
        transition: var(--transitionDefault);
      }
    }
  }

  &__news-list-duplicate {
    z-index: 1;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      user-select: none;
      pointer-events: none;
      background: var(--colorBgTransparent);
      z-index: -1;
    }

    .news-list__news {
      position: relative;

      a {
        @include clearedLink;

        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;

        .news__picture {
          @include image;

          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
        }
      }
    }
  }
}