@import "../main/mixins";

.search-window {
  &__input {
    @include clearedInput;

    width: 95vw;
    height: 5rem;
    text-align: center;
    font-size: var(--fontSize1);
    background: none;
  }
}