@import "../main/mixins";

.select-container {

  &__native {
    display: block;

    @media (hover: hover) {
      display: none;
    }
  }

  &__select {
    display: none;

    @media (hover: hover) {
      display: flex;
    }

    .select__icon {
      @include icon;

    }

    .select__value {
      @include btn;

      background: var(--colorBgAccentLight);

      .value__text {

      }

      .value__icon {

      }
    }

    .select-modal__options {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: .5rem;

      .options__option {

        .option__btn {
          @include btn;

          width: 100%;

          //background: none;

          .btn__icon {
          }

          .btn__text {
          }
        }
      }
    }
  }
}