@import "../main/mixins";

.socials-list {
  gap: .5rem 1rem;
  display: grid;
  justify-content: space-between;
  width: min-content;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto;

  &__part {
    position: relative;

    .part__text {
      @include clearedLink($fontSize: var(--fontSize4));

      &:hover,
      &:focus-within {
        color: var(--colorMainLight);
      }

      .text__icon {
        flex: 1 1 0;
        font-size: var(--fontSize1);
      }
    }
  }
}