@import "../main/mixins";

.menu {
  &__toggle {
    @include iconBtn(var(--fontSize2));

    height: 100%;

    .toggle__icon {
      color: var(--colorMain);
    }

    .toggle__text {
      color: var(--colorMainLight);
      text-transform: uppercase;
    }
  }

  &__nav {
    position: relative;
    width: 100%;
    flex-grow: 1;

    .nav__links {
      position: relative;
      width: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;


      .links__linksGroup {
        width: 120%;

        &:hover,
        &:focus-within {

          &:not(.noLinks) > .linksGroup__link:after {
            opacity: 1;
          }

          & > .linksGroup__link {
            color: var(--colorMain) !important;
          }

          & > .linksGroup__links {
            opacity: 1;
            user-select: auto;
            pointer-events: auto;
          }
        }

        .linksGroup__link {
          @include clearedLink($fontSize: var(--fontSize1));

          position: relative;
          display: block;
          white-space: nowrap;
          text-transform: uppercase;
          transition: var(--transitionDefault);
          padding: .5rem 2rem .5rem 0;

          &::after {
            content: '';
            position: absolute;
            background-image: url('/static/svg/chevron-right.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
            color: red;
            top: 0;
            right: 10%;
            height: 100%;
            width: 1.25rem;
            opacity: 0;
            transition: var(--transitionDefault);
          }
        }

        .linksGroup__links {
          position: absolute;
          left: 120%;
          top: 0;
          height: 100%;
          opacity: 0;
          transition: var(--transitionDefault);
          display: block;
          user-select: none;
          pointer-events: none;

          .linksGroup__link {
            color: var(--colorTextDark);
          }
        }
      }
    }
  }

  &__info {
    display: flex;
    gap: clamp(1rem, 5vw, 2rem);
    flex-wrap: wrap;

    .info__group {
      display: flex;
      flex-direction: column;
      gap: .5rem;

      .group__heading {
        color: var(--colorMain);
        text-transform: uppercase;
      }

      .group__list {
        gap: .5rem 1rem;
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: repeat(4, auto);
        justify-content: space-between;

        .list__part {
          position: relative;

          .part__text {
            @include clearedLink($fontSize: var(--fontSize4));

            &:hover,
            &:focus-within {
              color: var(--colorMainLight);
            }

            .text__icon {
              flex: 1 1 0;
              font-size: var(--fontSize1);
            }
          }
        }
      }
    }
  }
}
