@import "../main/mixins";

.profile {
  height: 100%;

  &__toggle {
    @include iconBtn;

    position: relative;
    height: 90%;

    .toggle__userPicture {
      @include roundedImage(var(--colorBgDark));

      height: min(100%, 3.5rem);
    }
  }
}