.textWithShortVariant {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  font-size: var(--fontSize2);

  &.big {
    font-size: var(--fontSize2);
  }
  &.normal {
    font-size: var(--fontSize3);
  }
  &.small {
    font-size: var(--fontSize4);
  }

  & > * {
    font-size: inherit;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__textShort {
    @media screen and (min-width: 700px) {
      display: none;
    }
  }

  &__text {
    @media screen and (max-width: 700px) {
      display: none;
    }
  }
}