.toggleContainer {
  &:focus-within,
  &:hover {
    &__label {
      filter: brightness(var(--brightnessDefault));
    }
  }

  &__label {
    cursor: pointer;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: var(--transitionDefault);
    background: var(--colorBg);
    z-index: 1;
    border-radius: var(--bdrsBtn);

    &::after {
      content: '';
      position: absolute;
      background: var(--colorBgAccent);
      transition: var(--transitionDefault);
      border-radius: var(--bdrsBtn);
      left: 5%;
      height: 80%;
      top: 10%;
      width: 40%;
      z-index: -1;
    }

    .label__part {
      text-align: center;
      padding: .5rem 1rem;
      font-size: var(--fontSize4);
    }
  }

  &__toggle {
    position: fixed;
    opacity: 0;
    top: -99999px;
    left: -99999px;
    pointer-events: none;

    &:checked + .toggleContainer__label::after {
      left: 55%;
      background: var(--colorMain);
    }
  }
}