.main-footer {
  margin-top: 8rem;
  position: relative;
  background: var(--colorMain);
  width: 100%;
  padding: var(--paddingInlineMain);

  &__map {
    width: min(800px, 100%);
    border-radius: var(--bdrsWindow);
  }
}