:root {
  // font-size
  --fontSize5: clamp(.6rem, 1.2vw, .8rem);
  --fontSize4-5: clamp(.7rem, 1.4vw, 1rem);
  --fontSize4: clamp(.8rem, 1.6vw, 1.1rem);
  --fontSize3-4: clamp(1rem, 2vw, 1.35rem);
  --fontSize3: clamp(1.1rem, 2.2vw, 1.4rem);
  --fontSize2: clamp(1.4rem, 2.8vw, 1.75rem);
  --fontSize1: clamp(1.75rem, 3.5vw, 2.5rem);
  --fontSize0: clamp(2.5rem, 7.5vw, 7rem);
  --fontSizeBig: clamp(6rem, 12vw, 10rem);
  --fontSizeExtraBig: clamp(10rem, 12vw, 15rem);

  // transition
  --transitionDefault: 150ms;
  --transitionBig: 300ms;
  --transitionBiggest: 600ms;

  // color
  --colorText: white;
  --colorTextDark: #E8E6E3;
  --colorBgDark: #101111;
  --colorBgDarkTransparentLight: rgba(16, 17, 17, 0.6);
  --colorBgDarkTransparent: rgba(16, 17, 17, 0.75);
  --colorBg: #181A1B;
  --colorBgTransparent: rgba(16, 17, 17, 0.5);
  --colorBgAccent: #26292B;
  --colorBgAccentLight: #313436;
  --colorWindowAreaBg: rgba(24, 26, 27, 0.75);
  --colorGradientBgHorizontal: linear-gradient(90deg, rgba(22, 74, 207, 0.5) 0.69%, rgba(24, 26, 27, 0.5) 50%, rgba(22, 74, 207, 0.5) 100%);;
  --colorGradientBg: linear-gradient(0deg, var(--colorMain) 16%, rgba(38, 41, 43, 0.2) 100%);
  --colorGradientBgDark: linear-gradient(0deg, var(--colorMain) 16%, rgba(38, 41, 43, 0.8) 100%);
  --colorMain: #164ACF;
  --colorMainDark: #0039A6;
  --colorMainLight: #8A9CED;
  --colorAccent: #B70E02;
  --colorAccentLight: #F81000;
  --colorGradientMain: linear-gradient(289.07deg, #1D7BD7 3.68%, #000B8E 36.32%, #FF0000 101.07%);

  // border-radius
  --bdrsBtn: 10px;
  --bdrsBtnRounded: 15px;
  --bdrsWindow: 10px;

  // width
  --widthContent: min(1300px, 100%);
  --widthScrollbar: 1rem;

  // height
  --heightHeader: clamp(4rem, 8vw, 6rem);

  // padding
  --paddingBtn: .5em 4em;
  --paddingInlineMain: min(1.5rem, 5vw);

  // z-index
  --zIndexSettingsMenu: 999;
  --zIndexHeader: 999;
  --zIndexWindow: 9999;
  --zIndexHighest: 9999999;

  // filter's effects
  --brightnessDefault: 1.3;
}