@import '../../mixins';

.face-wrapper {
  width: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  max-height: 880px;
  height: 100%;
}

.content {
  @include contentArea;

  align-self: center;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}