@import "../../mixins";

.organization-name-block {
  position: relative;
  background: var(--colorMain);
  padding-block: 1rem;

  &__content {
    @include contentArea;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    .content__logo {
      height: clamp(4rem, 10vw, 7rem);
      flex-shrink: 1;
      flex-grow: 0;
    }

    .content__organization {
      .organization__type,
      .organization__name,
      .organization__type-short,
      .organization__name-short {
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
      }

      .organization__type-short,
      .organization__name-short {
        @media screen and (min-width: 700px) {
          display: none;
        }
      }

      .organization__type,
      .organization__name {
        @media screen and (max-width: 700px) {
          display: none;
        }
      }
    }
  }
}