@import '../../mixins';

.news-marquee {
  position: relative;
  background: var(--colorMain);
  height: 3.75rem;

  &__news {
    min-width: 100%;
    display: flex;
    gap: .5rem;
    justify-content: center;

    .news-part {
      font-size: var(--fontSize3-4);
      white-space: nowrap;
    }
  }

  &__close-btn {
    @include iconBtn;

    position: absolute;
    right: 0;
  }
}