@mixin clearedInput {
  outline: none;
  border: none;
  color: var(--colorText);
}

@mixin clearedLink {
  text-decoration: none;
  color: var(--colorText);
  font-size: var(--fontSize4);
}

@mixin clearedBtn {
  outline: none;
  border: none;
  cursor: pointer;
}

@mixin btn($bgColor: var(--colorBgAccentLight)) {
  @include clearedBtn;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: var(--paddingBtn);
  border-radius: var(--bdrsBtn);
  font-weight: bold;
  text-transform: uppercase;
  font-size: var(--fontSize4);
  background: $bgColor;
  color: var(--colorText);
  transition: var(--transitionDefault);

  &:hover,
  &:focus-within {
    filter: brightness(1.125);
  }
}

@mixin btnMain {
  @include btn(var(--colorMain));
}

@mixin btnAccent {
  @include btn(var(--colorAccent));
}

@mixin image($borderColor: var(--colorText)) {
  border-radius: 50%;
  border: 2px solid $borderColor;
  aspect-ratio: 1;
  background-color: var(--colorText);
  object-fit: cover;
  object-position: center;
}

@mixin separator($gap: 1rem, $color: var(--colorText)) {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: calc(100% + $gap / 2);
    height: 1px;
    background: $color;
    width: 110%;
    left: -5%;
  }
}