@mixin clearedInput {
  outline: none;
  border: none;
  color: var(--colorText);
  font-size: var(--fontSize4);
}

@mixin clearedLink($fontSize: var(--fontSize4)) {
  text-decoration: none;
  color: var(--colorText);
  font-size: $fontSize;
  transition: var(--transitionDefault);
}

@mixin contentArea {
  width: var(--widthContent);
  margin-inline: auto;
  padding-inline: 1rem;
}

@mixin blockWithHeading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

@mixin brightOnFocus {
  &:not(:disabled) {
    &:hover,
    &:focus-within {
      filter: brightness(var(--brightnessDefault));
    }
  }
}

@mixin scaleOnFocus {
  &:hover,
  &:focus-within {
    scale: 1.25;
  }
}

@mixin textDecorationOnFocus {
  &:hover,
  &:focus-within {
    text-decoration: underline;
  }
}

@mixin icon {
  width: 2rem;
  border-radius: var(--bdrsBtn);
}

@mixin textWithIcon($gap: .5rem) {
  display: flex;
  align-items: center;
  gap: .5rem;
  text-align: center;
}

@mixin clearedBtn($fontSize: var(--fontSize4)) {
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--colorText);
  font-size: $fontSize;
  transition: var(--transitionDefault);
}

@mixin iconBtn($fontSize: var(--fontSize4)) {
  @include clearedBtn($fontSize);

  display: flex;
  gap: .5rem;
  align-items: center;
  background: none;
}

@mixin btn(
  $background: var(--colorText),
  $color: var(--colorMain),
  $padding: var(--paddingBtn),
  $fontSize: var(--fontSize4)
) {
  @include clearedBtn($fontSize: $fontSize);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5em;
  padding: $padding;
  border-radius: var(--bdrsBtn);
  font-weight: bold;
  text-transform: uppercase;
  border: 3px solid $background;
  background: none;

  &:hover,
  &:focus-within {
    background: $background;
    color: $color;
  }
}

@mixin btnMain($fontSize: var(--fontSize4)) {
  @include btn($background: var(--colorMain), $fontSize: $fontSize, $color: var(--colorText));
}

@mixin btnAccent($fontSize: var(--fontSize4)) {
  @include btn($background: var(--colorAccent), $fontSize: $fontSize, $color: var(--colorText));
}

@mixin image {
  object-fit: cover;
  object-position: center;
}

@mixin rounderImage($borderColor: var(--colorText)) {
  @include image;

  border-radius: 50%;
  border: 2px solid $borderColor;
  aspect-ratio: 1;
  background-color: var(--colorText);
}

@mixin separator($gap: 1rem, $color: var(--colorText), $vertical: false) {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background: $color;
    opacity: .1;

    @if($vertical == true) {
      top: 10%;
      left: calc(100% + $gap / 2);
      height: 80%;
      width: 1px;
    }
    @else {
      top: calc(100% + $gap / 2);
      left: -5%;
      width: 110%;
      height: 1px;
    }
  }
}