:root {
  // font-size
  --fontSize5: clamp(.6rem, 1.5vw, .8rem);
  --fontSize4: clamp(.8rem, 2vw, 1.1rem);
  --fontSize3: clamp(1.1rem, 3vw, 1.5rem);
  --fontSize2: clamp(1.5rem, 4vw, 2rem);
  --fontSize1: clamp(2rem, 5vw, 2.75rem);

  // transition
  --transitionDefault: 150ms;
  --transitionBig: 300ms;

  // color
  --colorText: #E8E6E3;
  --colorTextDark: #BDB7AF;
  --colorBg: #181A1B;
  --colorWindowAreaBg: rgba(24, 26, 27, 0.75);
  --colorBgAccent: #26292B;
  --colorBgAccentLight: #313436;
  --colorMain: #164ACF;
  --colorMainDark: #004DAA;
  --colorMainLight: #8A9CED;
  --colorAccent: #B70E02;
  --colorAccentLight: #F81000;

  // border-radius
  --bdrsBtn: 5px;
  --bdrsWindow: 10px;

  // width
  --widthContent: 1200px;

  // height
  --heightHeader: 3rem;

  // padding
  --paddingBtn: .5rem 3rem;

  // z-index
  --zIndexHeader: 999;
  --zIndexWindow: 9999;
}