@import "normalize.scss";
@import "fonts";
@import "variables";
@import "mixins";

// global
*,
*::after,
*::before {
  box-sizing: border-box;
  scrollbar-color: #454a4d #202324;
  scroll-behavior: var(--widthScrollbar);
  scrollbar-gutter: var(--widthScrollbar);
  scrollbar-width: var(--widthScrollbar);
  font-family: 'Cuprum', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

h1 {
  font-size: var(--fontSize1);
}

h2 {
  font-size: var(--fontSize2);
}

h3 {
  font-size: var(--fontSize3);
}

h4 {
  font-size: var(--fontSize4);
}

h5 {
  font-size: var(--fontSize5);
}

p {
  margin: 0;
}

html {
  //overflow-x: hidden;
}

.root {
  position: relative;
  width: 100vw;
}

body {
  background: var(--colorBg);
  color: var(--colorText);

  &[style="overflow: hidden;"] {
    padding-right: var(--widthScrollbar);;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
