@import "../../mixins";

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--heightHeader);
  background: var(--colorBgAccent);
  padding-inline: 1rem;
  z-index: var(--zIndexHeader);

  .header__content {
    @include contentArea;

    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;

    .search {
      margin-left: auto;
    }
  }
}