@import "../../mixins";

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--heightHeaderInitial);
  background: var(--colorBgDark);
  padding: .5rem 1rem;
  z-index: var(--zIndexHeader);

  &.normal {
    height: var(--heightHeader);
  }

  .header__content {
    @include contentArea;

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    .content__logo {
      @include clearedLink;

      display: block;
      height: 95%;
      aspect-ratio: 1;
    }
  }
}