@import '../../mixins';

.day-info {
  $gap: 2rem;

  position: relative;
  display: flex;
  align-items: center;
  gap: $gap;
  height: 100%;

  &__part {
    height: 100%;
    font-weight: bold;
    display: grid;
    place-content: center;
    text-align: center;
    width: 8rem;
    text-transform: uppercase;

    &:not(:last-child) {
      @include separator($vertical: true, $gap: $gap);
    }
  }
}