@import "../../mixins";

.search {
  &__btn {
    @include btn;

    svg {
      color: var(--colorMain);
    }
  }

  &__area {
    position: fixed;
    inset: 0;
    z-index: var(--zIndexWindow);
    display: grid;
    place-content: center;
    background: var(--colorWindowAreaBg) ;

    .area__input {
      @include clearedInput;

      width: 90vw;
      height: 5rem;
      text-align: center;
      font-size: var(--fontSize1);
      background: none;
    }
  }
}